<form action="" class="mt-5">
  <div class="row col-sm-12">
    <div class="col-sm-4">
      <label class="text-nowrap" for="">Nome :</label>
      <input class="form-control" type="text">      
    </div>
    <div class="col-sm-4">
      <label class="text-nowrap" for="">Sobrenome :</label>
      <input class="form-control" type="text">
    </div>
    <div class="col-sm-4">
      <label class="text-nowrap" for="">Email :</label>
      <input class="form-control" type="text">
    </div>
  </div>
  <div class="col-sm-12 border-top mt-5 "></div>
  <button class="btn btn-outline-secondary mt-3 float-right">Enviar</button>
</form>